.wrapper {
    width: 100%;
    overflow: auto;
}

.oneQuater {
    width: 25%;
    float: left;
}

.threeQuaters {
    width: 75%;
    float: left;
}

.half {
    width: 50%;
    float: left;
}

.beerImage {
    width: 100%;
    padding: 27px;
}
